body{
    background-color: cornsilk;
    color: blue;
    padding:5%;
    margin: 5%;

    font-family: 'Adamina';font-size: 23px;
  }
#i1{
left: auto;
height: 45%;
width: 45%;
}
#i2{
right:100%;
height: 45%;
width: 45%;
}